﻿@model WebApp.ProvaDesafio.Models.Ator

@{
    ViewData["Title"] = "Excluir Ator";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
    
	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<a asp-action="Index" class="btn btn-secondary">Voltar</a>
		<input type="submit" value="Excluir" class="btn btn-danger" />
	</form>
</div>
