﻿@model WebApp.ProvaDesafio.Models.Usuario

@{
    ViewData["Title"] = "Novo Usuário";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" checked/> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TipoUsuario" class="control-label"></label>
				<div>
					<input type="radio" value="1" asp-for="TipoUsuario" checked /> Administrador <br />
					<input type="radio" value="2" asp-for="TipoUsuario" /> Comum
				</div>
            </div>
			<br />
			<div class="form-group">
				<a asp-action="Index" class="btn btn-secondary">Voltar</a>
				<input type="submit" value="Salvar" class="btn btn-primary" />
			</div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
