﻿@model WebApp.ProvaDesafio.Models.Filme

@{
    ViewData["Title"] = "Novo Filme";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" checked/> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
				<div>
					<input type="radio" value="0" asp-for="Genero" checked /> Ação <br />
					<input type="radio" value="1" asp-for="Genero" /> Ficção <br />
					<input type="radio" value="2" asp-for="Genero" /> Romance <br />
					<input type="radio" value="3" asp-for="Genero" /> Comédia <br />
				</div>
            </div>
            <div class="form-group">
                <label asp-for="Voto" class="control-label"></label>
                <input asp-for="Voto" class="form-control" />
                <span asp-validation-for="Voto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaVoto" class="control-label"></label>
                <input asp-for="MediaVoto" class="form-control" />
                <span asp-validation-for="MediaVoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiretorId" class="control-label">Diretor</label>
                <select asp-for="DiretorId" class ="form-control" asp-items="ViewBag.DiretorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AtorId" class="control-label">Ator</label>
                <select asp-for="AtorId" class ="form-control" asp-items="ViewBag.AtorId"></select>
            </div>
			<div class="form-group">
				<a asp-action="Index" class="btn btn-secondary">Voltar</a>
				<input type="submit" value="Salvar" class="btn btn-primary" />
			</div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
