﻿@model WebApp.ProvaDesafio.Models.Filme

@{
    ViewData["Title"] = "Detalhar Filme";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaVoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaVoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diretor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diretor.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ator.Nome)
        </dd>
    </dl>
</div>
<div>
	<a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
