﻿@model WebApp.ProvaDesafio.Models.Filme

@{
    ViewData["Title"] = "Editar Filme";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
				<div>
					<input type="radio" value="0" asp-for="Genero" checked="@((int)Model.Genero == 0)" /> Ação <br />
					<input type="radio" value="1" asp-for="Genero" checked="@((int)Model.Genero == 1)" /> Ficção <br />
					<input type="radio" value="2" asp-for="Genero" checked="@((int)Model.Genero == 2)" /> Romance <br />
					<input type="radio" value="3" asp-for="Genero" checked="@((int)Model.Genero == 3)" /> Comédia <br />
				</div>
            </div>
            <div class="form-group">
                <label asp-for="Voto" class="control-label"></label>
                <input asp-for="Voto" class="form-control" />
                <span asp-validation-for="Voto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaVoto" class="control-label">Média Voto</label>
                <input asp-for="MediaVoto" class="form-control" />
                <span asp-validation-for="MediaVoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiretorId" class="control-label">Diretor</label>
                <select asp-for="DiretorId" class="form-control" asp-items="ViewBag.DiretorId"></select>
                <span asp-validation-for="DiretorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtorId" class="control-label">Ator</label>
                <select asp-for="AtorId" class="form-control" asp-items="ViewBag.AtorId"></select>
                <span asp-validation-for="AtorId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
