﻿@model IEnumerable<WebApp.ProvaDesafio.Models.Filme>

@{
    ViewData["Title"] = "Lista de Filmes";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Novo Filme</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaVoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diretor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaVoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diretor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ator.Nome)
            </td>
			<td class="text-right">
				<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
				<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhar</a>
				<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
			</td>
        </tr>
}
    </tbody>
</table>
